extends layout

block content
 .fondo-camas
  h1= titulo

  table.table.table-striped
    thead
      tr
        th ID
        th Número
        th Habitación
        th Estado
        th Acciones
    tbody
      each cama in camas
        tr
          td= cama.id_cama
          td= cama.numero
          td= cama.habitacion
          td= cama.estado
          td
            form(method="POST", action=`/camas/estado/${cama.id_cama}`, style="display:inline;")
              select.form-control(name="estado", onchange="this.form.submit()")
                option(value="libre", selected=cama.estado==='libre') Libre
                option(value="ocupada", selected=cama.estado==='ocupada') Ocupada
            a.btn.btn-warning.btn-sm(href=`/camas/editar/${cama.id_cama}`) Editar
  a.btn.btn-primary.mt-3(href="/camas/nuevo") + Agregar Cama
