extends layout

block content
  h1= titulo
  a.btn.btn-success(href="/pacientes/nuevo") Nuevo Paciente
  table.table.table-striped.mt-3
    thead
      tr
        th ID
        th Nombre
        th Apellido
        th DNI
    tbody
      each p in pacientes
        tr
          td= p.id_paciente
          td= p.nombre
          td= p.apellido
          td= p.dni
